<!-- <body>
  <div class="header-section background">
    <div class="container heading">
      <h1>Elise Young</h1>
      <a href="/pages/about">Enter</a>
    </div>
  </div>
</body> -->

<div class="intro-page">
 <div class="header-section heading">
  <h1>Elise Young</h1>
    <a href="/pages/about">Enter</a>
 </div>
</div>
