@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages";

.container-contact {
  // height: 1000px;
     height: 100vh;
}

.icons-contact {
  white-space: nowrap;
  background-color: transparent;
  margin-top: 150px;
  // margin-bottom: 100px;
  width: 230px;
  margin: 0 auto;
  // padding-top: 20px;
  padding-bottom: 0px;

}


.heading {
  font-family:'Dancing Script', cursive;
  font-size: 100px;
  color: #585858;
  text-align: center;
  padding-top: 100px;
}
