
.floaty-container {
  position: relative;
}
.floaty-item {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
//  z-index: 10;
}

#dress {
  margin-top: 10px;
  margin-left: -80px;
}
#gym {
  margin-top: 10px;
  margin-left: 10px;
}
#book {
  margin-top: 20px;
  margin-left: -80px;
}
#cooking {
  margin-top: 30px;
  margin-left: 10px;
}
#ruby {
  margin-top: 10px;
  margin-left: -80px;
}
#html {
  margin-top: 10px;
  margin-left: 10px;
}
#css {
  margin-top: 20px;
  margin-left: -80px;
}
#js {
  margin-top: 30px;
  margin-left: 10px;
}
#australia {
  margin-top: 20px;
  margin-left: -80px;
}
#girl {
  margin-top: 10px;
  margin-left: 10px;
}
#monitor {
  margin-top: 10px;
  margin-left: -80px;
}
