// NAVBAR
.navbar {
  background: transparent;

}
.navbar-default {
  background: transparent  !important;
  border-color: transparent;
}

 #menu ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   border-color: transparent !important;
 }
 #menu li {
 float: left;
 }

 #menu li a {
 font-family: 'Dancing Script', cursive;
 font-size: 40px;
 display: block;
 color: #585858;
 text-align: center;
 padding: 10px 16px;
 text-decoration: none;
 border-color: transparent;
 }

 #menu li a:hover {
  // margin-top: 10px;
   background-color: white;
   text-decoration: none;
 }

 #menu {
   margin-left: 140px;
   width:100%;
   border-color: transparent !important;
     //  background-color: transparent !important;
 }
